body {
            text-align: right;
            background-color: rgb(242, 118, 24);
        }
         #landmark {
            background-color: red;
         }
        .name{
            background-color: yellow;
        
        }
